@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


:root {
    --title-font: 'Nunito', sans-serif;
    --title-color: white;
    --body-width: 800px;

    --NAV-BGCOLOR: rgb(70, 90, 237);
    --SIDE-COLOR: rgb(179, 222, 240);
    --BODY-BGCOLOR: /* #ffbd76; */rgb(255, 145, 0);
}

html {
    font-size:large;
    background-color: var(--SIDE-COLOR);
    font-family: var(--title-font);
} 



body {
    background-color: var(--BODY-BGCOLOR);

    text-align: center;
    min-height: 100vh;
    max-width: var(--body-width);
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid #333;
    border-right: 1px solid #333;

}

h1 {
    background-color: #000;
    margin: 0;
    padding: 1rem;

    box-sizing: border-box;
    color: var(--title-color);


}

.bottom {
    background-color: #500e92;
    margin: 0;
    padding: 1rem;

    min-width: 98vw;

    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

.bottom a {
    border: 2px double royalblue;
    color: rgb(224, 224, 6);
    text-decoration: none;
    padding: 0.5rem;
}






table {
    margin: auto;
}

table caption {
    margin-top: 1rem;
    background-color: white;

    font-weight: bold;
    font-size: 1.2rem;
}

nav {
 

    display: flex;
    flex-direction: column nowrap;
    background-color: var(--NAV-BGCOLOR);

    justify-content: center;

    position: sticky;
    top: 0;
}

nav ul {
    min-width: var(--body-width);
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0.5rem 2rem;

}

img[width] {
    border: 1px dashed black;
    min-width: var(--body-width);
    min-height: var(--body-width);
}

.first-pic {
    display: block;
    background-image: url('coffee-picture.png');
    background-repeat: no-repeat;

    min-width: var(--body-width * 0.1);
    min-height: calc(var(--body-width) * 0.6);
}


.established {
    text-align: right;
    margin: 1rem 0.2rem;
    
    font-weight: bolder;

}

.established-large {
    text-align: right;
    margin: 1rem 0.2rem;
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 375%;

}

.first-pic-dropmenu {
    display: block;
    opacity: 1;

    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 40%;


    background-color: var(--BODY-BGCOLOR);
    color: var(--BODY-BGCOLOR);
    font-family: cursive;
    font-weight: 900;

    border-radius: 1%;

}

.first-pic:hover .first-pic-dropmenu {

    /* animation-name: greeting;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
    animation-timing-function: linear;

    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction:normal; */


    

    /* animation: 2s linear 0s 2 normal forwards greeting; */


}



@keyframes greeting {


    0% {

        transform: translateY(-50%) rotateX(90deg);
        background-color: rebeccapurple;
        color:#fff;
    }

    33% {
        transform: translateY(100%) /* rotateX(-90deg) */;
    }

    66% {
        transform: translateY(20%);
    }

    100% {
        background-color: rebeccapurple;
        color: rgb(199, 199, 100);
    }

}


nav a {
    color: white;
    text-decoration: none;
    font-size: large;
}

nav ul li:hover {
    border: 2px dashed aqua;
    border-radius: 5%;

}

nav a:hover {
    color: rgb(255, 144, 103);

}


#about {
    background-color: rgb(186, 219, 155);
    border: 1px double black;
    text-align: left;

    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    
}

#about h2, #about h3, #about p, #about aside {
    border: 1px dashed rgb(57, 43, 60);
    background-color: rgb(255, 255, 255);
    padding: 0.3rem;
}

#about p, #about aside {
    margin-top: 0;
}

.trivia {
    padding: 0.5rem;
    margin: 0 0 0 0.5rem;
}

figcaption {
    font-size: 1.2rem;
    font-family: cursive;
    color: #fff;
    font-weight: 800;

    margin-bottom: 1rem;
}

th, td, caption {
    background-color: white;
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;

    border-collapse: separate;
    padding: 0.5rem;
    margin: 0;;
}

.link {
        background-color: rgb(0, 51, 253);
        padding: 0.6rem;
        border-radius: 5%;
        color: white;
    
        text-decoration: none;
}