@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


:root {
    --BODY-BGCOLOR: rgb(162, 162, 162);
    --title-font: 'Nunito', sans-serif;
    --title-color: white;
    --body-width: 800px;

    --NAV-BGCOLOR: rgb(70, 90, 237);
}

html {
    font-size:large;
    background-color: rgb(179, 222, 240);
    font-family: var(--title-font);
}



body {
    background-color: var(--BODY-BGCOLOR);

    text-align: center;
    min-height: 100vh;
    max-width: var(--body-width);
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid #333;
    border-right: 1px solid #333;

}

h1 {
    background-color: #000;
    margin: 0;
    padding: 1rem;

    box-sizing: border-box;
    color: var(--title-color);
}








table {
    margin: auto;
}

nav {
 

    display: flex;
    flex-direction: column nowrap;
    background-color: var(--NAV-BGCOLOR);

    justify-content: center;
}

nav ul {
    min-width: var(--body-width);
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0.5rem 2rem;

}

img[width] {
    border: 1px dashed black;
    min-width: var(--body-width);
    min-height: var(--body-width);
}

.first-pic {
    display: block;
    background-image: url('coffee-picture.png');
    background-repeat: no-repeat;

    min-width: var(--body-width);
    min-height: var(--body-width);
}




.first-pic-dropmenu {
    display: block;

    margin-left: 0.5rem;
    margin-top: 0;
    padding: 0.5rem;
    width: 10%;


    background-color: rebeccapurple;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;

    animation-name: greeting;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    /* transform: rotateX(270deg); */

}

.first-pic-dropmenu:hover {

    animation-name: greeting;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    /* transform: rotateX(270deg); */
    transform: transition;

}



@keyframes greeting {

    /* 0% {
        margin-top: 0;
    }

    20% {
        margin-top: 0.1rem;
    }

    40% {
        margin-top: 0.2rem;
    }
    
    60% {
        margin-top: 0.3rem;
    }

    80% {
        margin-top: 0.4rem;
    }

    100% {
        margin-top: 0.5rem;
    } */

    0% {
        
    }

    20% {

    }

    40% {

    }
    
    60% {

    }

    80% {

    }

    100% {

    }

}

nav a {
    color: white;
    text-decoration: none;
    font-size: large;
}

nav ul li:hover {
    border: 2px dashed aqua;
    border-radius: 5%;

}

nav a:hover {
    color: rgb(255, 144, 103);

}


th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}